body {
    background-image: url("bgset1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 400px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #ffe3c9;
    border-radius: 12px;
    opacity: .9;
}

.signup{
    margin-top: 280px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: left;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
}

.ca {
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.ca:hover {
    text-decoration: underline;
} 

.