* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

#main-body {
    width: 50%;
    background-image: url(../imgs/loginbg.png);
}

.login-container {
    width: 60%;
    margin-top: 15vh;
    margin-left: 13rem;
}

.login-container {
    background-color: white;
    border: 2px solid grey;
    border-radius: 15px;
    height: auto;
    padding: 2rem;
    box-shadow: 5px 6px 15px #888888;

}

.login-container h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-container a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.form-element {
    width: 100%;
}


.form-element input[type="text"], 
input[type="password"] {
    font-size: 22px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #888888;
    margin-bottom: 1rem;
}

/* BUTTON */

.login-container button {
    width: 100%;
    letter-spacing: 3px;
    border-radius: 8px;
    font-size: 18px;
    padding: 1rem;
    background-color: violet;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.login-container button a {
    text-decoration: none;
    color: white;
    border: none;
}

.login-container button:hover {
    background-color: rgb(221, 147, 221);
}

/* LOGIN LOGO AND PICTURE */

#login-pic img {
    position: relative;
    left: 51rem;
    bottom: 22rem;
}

#login-logo img {
    position: relative;
    left: 75rem;
    bottom: 53rem;
}


#main-article p {
    position: relative;
    font-size: 29px;
    left: 13rem;
    bottom: 18rem;
    width: 100%;
}

