*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header {
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url(../imgs/LP2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.logo img{
    float: left;
    width: 100%;
    height: auto;
    margin-left: 50px;
    cursor: pointer;

}

.header .navbar .menu ul{
    margin-left: 450px;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin-right: 20px;
    align-items: center;
}

.header .navbar .menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.header .contact-info {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 5px 3px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .contact-info a {
    color: black;
}

.header .contact-info a:hover {
    color: pink;
    transition: 0.3s;
    font-weight: 600;
    
}

.header .navbar .menu ul li a:hover{
    color: pink;
    transition: 0.4s;
    font-weight: 550;
    text-decoration: underline;
}


.header .banner {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
    height: 100%;
    color: black;
}

.header .banner .primary-btn {
    position: absolute;
    text-decoration: none;
    margin-top: 2rem;
    background-color: violet;
    padding: 10px 30px;
    font-weight: 900;
    border-radius: 9px;
    color: black;
    font-size: 19px;
    border: 1px solid grey;
    box-shadow: 1px 3px darkgray;
    
}

.header .banner .primary-btn:hover {
    background-color: rgb(240, 150, 226);
    transition: 0.2s;
}

.header .banner .app-text h1 span{
    font-size: 36px;
    font-weight: 300;
}

.header .banner .app-text h2 span{
    font-size: 55px;
    font-weight: 1000;
}

.header .banner .app-text h3 span{
    font-size: 26px;
    font-weight: 250;
}

.header .banner .app-text h5 span{
    position: absolute;
    margin-top: 7rem;
    font-size: 14px;
}

.main-footer .footer-column {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.main-footer {
    background: rgb(243, 173, 173);
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 10px;
    margin-top: 8rem;
    font-weight: 600;
}

.main-footer p{
    margin-top: 34px;
}


.main-footer .footer-column li{
    margin-top: 13px;
}

.main-footer .footer-column li a{
    color: black;
}

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 4rem;
}

.campus h1{
    font-size: 28px;
}

.campus p{
    margin-top: 10px;
}

.school img{
    width: 100%;
    margin-top: 3rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 35rem;
}

.school-1 img{
    width: 100%;
    margin-top: -41rem;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    margin-left: 2rem;
}
